#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.button {
  background-image: linear-gradient(130deg,
      #908d9e 0%,
      #b3bec4 85%,
      #d3dedd 100%);
  background-color: #bbc2cc;
  border-radius: 6px;
  box-shadow: 0 0 0 1px #4a4949 inset, 0 0 0 2px rgba(192, 192, 192, 0.15) inset,
    0 4px 0 0 #4a4949, 0 4px 0 1px rgba(0, 0, 0, 0.4),
    0 4px 4px 1px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  padding: 1rem 1rem;
  width: 80px;
  height: 70px;
}

.button:hover {
  color: #595959;
  background: #d5d7db;
  box-shadow: 0 0 10px #d5d7db, 0 0 40px #d5d7db, 0 0 80px #d5d7db;
}

.display {
  display: flex;
  flex-direction: column;
  background-color: #b3bec4;
  background-image: linear-gradient(130deg,
      #908d9e 0%,
      #b3bec4 85%,
      #d3dedd 100%);
  padding: 20px;
  box-shadow: 0 0 0 1px #4a4949 inset, 0 0 0 2px rgba(192, 192, 192, 0.15) inset,
    0 4px 0 0 #4a4949, 0 4px 0 1px rgba(0, 0, 0, 0.4),
    0 4px 4px 1px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drum-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.tools {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.display-container {
  align-self: center;
  width: 160px
}

.volume-wrapper {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .display {
    flex-direction: row;
  }
}